html, body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 100%;
    border: 0;
}


h1 {
    font-size: 2.5em;
}

div {
    font-size: 1.0em;
    word-wrap: break-word;
}

span {
    text-align: left;
}

p:not(:empty, .abe-mat-html p) {
    clear: both;
    margin: 0;
}

/**
* Bugfix for D-05567
* Move this to drag-and-drop.css file.
* IE 8 only fix.
*/
.abe-token-content p, .abe-target-content p, .abe-drag-drop-label p {
    margin: 0px;
    text-align: left;
}

.abe-block {
    clear: both;
}

.abe-inline {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
}

div.abe-block {
    padding: 0 6px 6px 0;
    text-align: left;
}

/*
 * If you decide to change the padding of the abe-content-root, there are good chances that it might break HotArea, so
 * please test HotArea when you change this.
 */
div.abe-tt {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

div.abe-content-root {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 18px 18px 0 18px;
}

div.abe-external-content-root {
    height: 100%;
}

div.abe-content.abe-input-container {
    padding-right: 0;
}

div.abe-block.abe-last-child {
    padding-bottom: 0;
}

div.abe-horizontal-scroll {
    /* when flow orientation = horizontal */
    word-wrap: normal;
    white-space: nowrap;
}

span.abe-accesskey {
    text-decoration: underline
}

button {
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 5px 0 27px;
    border: 1px solid transparent;
    font-size: 18px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

/** Not prefixing "abe-" grape city styles **/
button.gc-ui-button {
    height: 31px;
    padding: 0 0px 0 0px;
    font-size: 13px;
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6;
    min-width: 80px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-family: "Segoe UI", Calibri, Thonburi, Arial, Verdana, sans-serif, "Mongolian Baiti", "Microsoft Yi Baiti", "Javanese Text";
}

.flex-auto button.gc-ui-button {
    background-color: #e6e6e6;
    border-color: #d3d3d3;
    height: 22px;
    line-height: 14px;
    border: thin solid #000000;
}

.flex-auto button.gc-ui-button:hover {
    background-color: #d3d3d3;
}

button.gc-ui-button span {
    text-align: center;
}

body .gc-dialog-overlay {
    z-index: 20000000000 !important;
}
.gc-sjs-designer-dialog .dialog-footer button {
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6;
    min-width: 80px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-family: "Segoe UI", Calibri, Thonburi, Arial, Verdana, sans-serif, "Mongolian Baiti", "Microsoft Yi Baiti", "Javanese Text";
    font-size: 13px;
}

.ribbon-dropdowngroup-popup, .gc-sjsdeisnger-popup, .gc-combo-editor-popup, .gc-sjs-designer-dialog {
    z-index: 3000000000 !important;
}

button.dialog-titlebar-close {
    padding: 0px;
}
.ribbon-button-item-text {
    line-height: 15px;
}

.abe-key {
    /* do not allow user to select text */
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    cursor: pointer;
    color: black;
    background-color: white;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-size: large;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    margin: 1px;
}

.abe-key:focus {
    outline: 0;
}

.abe-key .abe-focused {
    border: 1px dashed #FFF;
    margin-top: -1px;
}

.abe-key.abe-highlight {
    background-color: #006DAA;
    color: #FFF;
}

#abe-btnInsertText, #abe-btnCloseSymbolDialog {

    background-color: #006DAA;
    height: 38px;
    text-align: center;
}

button:active, button:focus {
    border: 1px solid #FFFFFF;
}

/** Style to prevent flash of buttons between completion of DOM tree and end of JavaScript initialization */
.abe-hidden-frame-button {
    display: none !important;
}

/**
    icon-left provides style of background-position:left so that exam specific custom css (as transformed
    from a custom ResourceMap.xml) can use background-position: inherit to inherit a background-position from the
    parent div. This was needed to segregate between using a sprite vs. an image as streamed from the
    backend database. Custom resource container images could not inherit the background-position property from the
    sprite definition because the sprite definition uses background-position to define the offset into the sprite, and
    there's no offset for custom resource container images.
 **/
.abe-icon-left {
    background-position: left;
    float: left;
}

/**
    icon-right provides style of background-position:right so that exam specific custom css (as transformed
    from a custom ResourceMap.xml) can use background-position: inherit and actually inherit a background-position
    from the parent div. This was needed to segregate between using a sprite vs. an image as streamed from the backend
    database
 **/
.abe-icon-right {
    background-position: right;
    float: left;
}

.abe-inline-button-left, .abe-inline-button-right {
    float: left;
    line-height: 33px;
}

#abe-container {
    min-height: 100%;
}

/** Not prefixing "abe-" offline.js styles **/
.offline-ui.offline-ui-down, .offline-simulate-check {
    z-index: 2147483553;
}

.offline-overlay {
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483552;
}

#abe-iframe-overlay {
    background-color: #FFF;
    opacity: 0.01;
    filter: alpha(opacity=0.01);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483552;
}

#abe-loading-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2147483552;
    background-color: transparent;
}

#abe-delivery-loading-overlay {
    width: 95%;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    margin: auto;
}

#abe-delivery-loading-overlay > h1 {
    font-size: 1.75em;
}

.abe-spinner-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2147483344;
    background-color: gray;
    opacity: 0.6;
    -moz-opacity: 0.30;
    filter: alpha(opacity=30);
}

.abe-spinner-overlay-message > h1 {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    text-align: center;
}

.abe-spinner-overlay-message {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
 * Title bar - exam title, time remaining, item counter
 * WARNING: Do not remove the height attribute in this style. It will affect HotSpot / HotArea
 */
#abe-titlebar {
    width: 100%;
    height: 50px;
    margin: 0;
    border-bottom: 2px solid #FFFFFF;
    padding: 0;
    line-height: 50px;
    position: absolute;
    top: 0;
}

#abe-application-logo {
    float: left;
    max-width: 360px;
    max-height: 40px;
    overflow: hidden;
}

#abe-titlebar-title {
    float: left;
    margin-left: 10px;
    /*font-size: 16pt; resource container handles this now*/
    height: 50px;
    line-height: 50px;
    /*The following handle auto-truncating long titles*/
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 350px);
    overflow: hidden;
    /*End of handling for auto-truncating long titles*/
}


#abe-titlebar-title:focus {
    border-style: dotted;
    border-width: 1px;
}

#abe-titlebar-info {
    font-size: 12pt;
    float: right;
    margin-right: 2px;
    color: #FFFFFF;
    text-align: right;
    height: 50px;
    line-height: 50px;
}

#abe-timer {
    background-repeat: no-repeat;
    padding-left: 0;
    height: 25px;
    line-height: 25px;
}

#abe-timerPlaceholder {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#abe-TimeRemainingSectionButton {
    font-size: 12pt;
    height: 25px;
    line-height: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

#abe-TimeRemainingSectionButton.locked {
    color: #FFFF00;
}

#abe-ItemOrdinalKnownButton {
    font-size: 12pt;
    height: 25px;
    line-height: 25px;
    padding-left: 20px;
    padding-right: 0px;
}

#abe-itemCounter {
    height: 25px;
    line-height: 25px;
}

.abe-hidden-shim {
    height: 25px;
    width: 0px;
    display: none;
}

/*
 * Toolbar - tools, flags
 * WARNING: Do not remove the height attribute in this style. It will affect HotSpot / HotArea
 */
#abe-toolbar {
    clear: both;
    height: 32px;
    width: 100%;
    position: absolute;
    top: 47px;
    border-bottom: 2px solid #FFFFFF;
}

#abe-toolbar-tools {
    float: left;
    min-height: 30px;
    height: auto;
}

#abe-toolbar-flags {
    float: right;
}

#abe-toolbar div button {
    background-color: transparent;
    line-height: 30px;
    height: 30px;
    font-size: 12pt;
    border: 0 none;
    font-weight: bold;
}

/* Toolbar buttons */

#abe-navigationbar {
    border-top: 2px solid #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 33px;
    margin: 0;
    padding: 0;
    float: left;
    clear: both;
}

#abe-navigation-help-finish {
    /*float: left;*/
}

#abe-navigation-jump {
    float: right;
}

/* Content pane */

#abe-contentPane {
    position: absolute;
    top: 80px;
    bottom: 33px;
    width: 100%;
    margin: 0 0 2px 0;
    height: auto;
    overflow: auto;
}

/* The readMe div that lies just under the abe-contentPane div needs to have 100% height so that
   it always occupies the entire abe-contentPane. */
#abe-readMe {
    height: 100%;
}

#abe-solutionDialog, #abe-charSelectorDialog {
    background-color: #FFFFFF;
    min-width: 125px; /* min size to prevent dialog title and icon from overlapping */
}

.abe-tabContentWrapper {
    position: relative;
    overflow: auto;
}

.abe-expandableBackground {
    clear: both;
    background: no-repeat #80AEE1;
    padding-left: 25px;
    cursor: pointer;
    color: white;
    margin: 3px;
}

h3, .abe-expandable {
    margin-left: 1px;
    margin-top: 0px;
}

.abe-expandable {
    display: none;
    overflow: hidden;
}

.abe-reviewItemEntry {
    padding: 2px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
}

.abe-FlagForReviewReviewScreenButton {
    padding-left: 35px;
    padding-top: 2px;
    cursor: pointer;
    background: no-repeat white;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: inline-block;
}

.abe-reviewItemTitleAndStatus {
    display: inline-block;
    position: relative;
    cursor: pointer;
    left: 35px;
}

.abe-reviewTitle {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.abe-reviewIncorrect, .abe-reviewIncomplete, .abe-reviewUnseen, .abe-reviewPending {
    color: red;
    position: absolute;
    left: 400px;
    display: inline-block;
    width: 500px;
}

.abe-reviewCorrect, .abe-reviewComplete {
    color: black;
    position: absolute;
    left: 400px;
    display: inline-block;
    width: 500px;
}

.abe-reviewItemTitle {
    padding-left: 5px;
    color: black;
    display: inline-block;
    max-width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.abe-commentsEmpty, .abe-commentsUnseen {
    color: red;
    position: absolute;
    left: 400px;
    display: inline-block;
    width: 500px;
}

.abe-commentsNotEmpty {
    color: black;
    position: absolute;
    left: 400px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}



/**
  This css means: When the abe-reviewItemTitleAndStatus class is hovered,
  apply the styling to the abe-reviewItemTitle class.
*/
.abe-reviewItemTitleAndStatus:hover .abe-reviewItemTitle {
    text-decoration: underline;
    color: #0000FF;
}

.abe-multipleSections h3 {
    padding-left: 0px;
}

.abe-sectionTitle {
    float: left;
    display: table;
}

/**
    Updated Review Screen Design starts here
 */
.abe-reviewScreen-2-0 {
    background-color: #F2F3F5;
}

.abe-reviewTypeTitle-2-0 {
    padding-bottom: 32px;
    line-height: 38px;
    color: #000000;
    margin-left: 32px;
    padding-top: 32px;
    margin-bottom: 24px;
}

.abe-reviewTable {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 30px;
}

.abe-reviewBtn {
    color: #FFFFFF;
    float: right;
    align-self: flex-end;
    box-sizing: content-box;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 16px;
    background: no-repeat #007394;
    border-radius: 6px;
    background-size: 0 !important;
    margin-right: 7%;
    width: max-content;
}

.abe-reviewScreenHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
}

.abe-ReviewButtonContainer {
    padding-top: 32px;
    padding-right: 32px;
}

.abe-reviewBtn:hover {
    color: #FFFFFF;
    background: no-repeat #004C68;
    background-size: 0;
}

.abe-reviewBtn:focus {
    box-shadow: 0px 0px 2px 4px #219EA3;
    border-radius: 6px;
}

.abe-FlagForReviewReviewScreenButton-2-0 {
    background: no-repeat white;
    position: inherit;
    top: 70px;
    bottom: 15px;
    display: inline-block;
    width: 30px;
}

.abe-reviewItemStatus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;
    width: 69px;
    height: 24px;
    border-radius: 14px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.abe-reviewSectionTitles {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    border-bottom: 1px solid  #007394;
    margin-left: 32px;
    margin-right: 32px;
    flex: auto;
}

.abe-tbl-content {
    margin-top: 10px;
    align-self: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: stretch;
}

.abe-reviewTableClass {
    width: 100%;
    table-layout: fixed;
}

.abe-reviewTheadClass {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: 56px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.abe-reviewTrClass {
    padding: 0px;
    height: 55px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    border-top: 0px solid !important;
    border-bottom: 0px solid !important;
    text-align: left;
}

.abe-reviewTdClass {
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    height: 55px;
    background: #FFFFFF;
    border-bottom: 1px solid #DFE1E1;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 22px;
    padding-left: 15px;
}

.abe-reviewUnseenLabel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 16px;
    background: #FFECB4 !important;
    border-radius: 14px;
    position: inherit !important;
    color: #AB4C03 !important;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 7px;
    width: fit-content !important;
}

.abe-reviewIncompleteLabel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 16px;
    background: #FCE8E6 !important;
    border-radius: 14px;
    position: inherit !important;
    color: #C21D00 !important;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 7px;
    width: fit-content !important;
}

.abe-reviewIncorrectLabel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 16px;
    background: #FCE8E6 !important;
    border-radius: 14px;
    position: inherit !important;
    color: #C21D00 !important;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    width: fit-content !important;
}
.abe-reviewCorrectLabel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 16px;
    background: #F1F7E5 !important;
    border-radius: 14px;
    position: inherit !important;
    color: #1E6500 !important;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    width: fit-content !important;
}
.abe-reviewCompleteLabel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 15px;
    width: 80px;
    height: 16px;
    background: #F1F7E5 !important;
    border-radius: 14px;
    position: inherit !important;
    color: #1E6500 !important;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 7px;
    width: fit-content !important;
}

.abe-reviewDisplayScreenLabel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: auto;
    width: max-content;
    background: #DFE1E1 !important;
    border-radius: 14px;
    position: inherit !important;
    color: #333333 !important;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 4px 13px 4px 15px;
    margin-bottom: 7px;
    width: fit-content !important
}

.abe-tabbedMultipleSection {
    height: 300px;
}

.abe-reviewScreenTitleFonts {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    width: fit-content !important;
}

.abe-reviewThFonts {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #666666;
}

.abe-reviewScreenSectionTitles {
    display: flex;
}

.abe-reviewScreenTitleFont {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: fit-content !important;
}

.abe-reviewSectionTitle {
    cursor: pointer;
    height: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
    flex: auto;
}

.abe-reviewSectionTitle:hover {
    color: #333333 !important;
}

.abe-reviewScreenQuestionFont {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.abe-reviewItemBtn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #007394;
    height: auto;
    width: auto;
    margin-right: 40%;
    float: right;
    padding: 2px 8px 5px 8px;
    white-space: initial;
    text-overflow:initial;
    margin-bottom: 6px !important
}

.abe-reviewItemBtn:hover {
    color: #007394;
    background: #d3d3d3;
    border-color: #C2C2C2;
    height: auto;
    border-radius: 5px;
}

.abe-reviewScreenTab {
    overflow: inherit !important;
}

.abe-sectionTitleSelected {
    border-bottom: 3px solid #007394;
    color: #007394;
}

.abe-sectionTitleSelected:hover {
    color: #007394 !important;
}

.abe-sectionTitleSelected:focus {
    border-bottom: 3px solid #007394 !important;
    border-color: #007394 !important;
}

.abe-reviewPagination {
    display: flex;
    padding-top: 10px;
    width: 1030px;
    height: 55px;
    padding-bottom: 10px;
    justify-content: flex-end;
    align-content: stretch;
    filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.16));
    margin-bottom: 10px;
    margin-left: 110px;
    align-content: center;
    background: #ffffff;
    flex-wrap: wrap;
}

.abe-nextPagination {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 3px;
    color: #666666;
    padding-right: 10px;
}

.abe-prevPagination {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 3px;
    color: #666666;
}

.abe-rowsPerPageText {
    padding-right: 5px;
}

.abe-rowPerPageNumber {
    padding-left: 2px;
    padding-right: 5px;
}

.abe-currentAndTotalPagination {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: baseline;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 2px;
    padding-right: 30px;
    width: 75px;
}

.abe-paginationBolded {
    font-weight: bold;
}

.abe-multipleSections a {
    text-decoration: none;
    color: inherit;
}

.abe-reviewScreenToolTip {
    display: none;
    position: absolute;
    color: white;
    background-color: #333333;
    padding: 0 5px 0 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 100;
    margin-left: -100px;
    bottom: 100%;
}
.abe-reviewScreenToolTipIcon:hover .abe-reviewScreenToolTip {
    display: block;
}

.abe-reviewTopLeftTableCorner {
    border-top-left-radius: 8px;
}

.abe-reviewTopRightTableCorner {
    border-top-right-radius: 8px;
}

.abe-reviewBottomLeftTableCorner {
    border-bottom-left-radius: 8px;
}

.abe-reviewBottomRightTableCorner {
    border-bottom-right-radius: 8px;
}

.abe-reviewTabCount {
    padding-left: 5px;
}

.abe-ReviewInstructionsDialog {
    background: rgb(255, 255, 255) !important;
    box-shadow: rgba(34, 34, 34, 0.14) 0px 4px 20px !important;
    border-radius: 8px;
    width: 600px;
    left: 370px;
}
.abe-ReviewInstructionsDialogCloseButton {
    box-sizing: border-box;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    position: sticky;
    width: auto;
    height: 48px;
    left: 700px;
    background: #007394 !important;
    border-radius: 6px;
}
.abe-ReviewInstructionsDialogMainContent {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666 !important;
    background: #ffffff !important;
}

.abe-reviewItemBtn:focus {
    box-shadow: 0px 0px 2px 4px #219EA3;
    border-radius: 6px;
}

.abe-ReviewInstructionsDialogCloseButton:hover {
    color: #FFFFFF;
    background: no-repeat #004C68 !important;
    background-size: 0;
}

.abe-ReviewInstructionsDialogCloseButton:focus {
    box-shadow: 0px 0px 2px 4px #219EA3;
    border-radius: 6px;
}

.abe-ReviewInstructionsDialogTitleClose {
    border-bottom: 1px solid #DFE1E1 !important;
    color: #000000 !important;
    background: #ffffff !important;
}
.abe-ReviewInstructionsDialogTitleCloseParent {
    color: #666666 !important;
    background: #ffffff !important;
}
.abe-ReviewInstructionsDialogButtonPane {
    background: #ffffff !important;
}

@media only screen and (max-width: 600px) {
    .abe-reviewTdClass {
        display: block;
    }
    .abe-reviewTdClass {
        text-align: center;
    }
    .abe-colorSchemeDropDown {float: none;}
    .abe-colorSchemeDropdownContent {position: relative;}
    .abe-colorSchemeDropdownButton {
        display: block;
        width: 100%;
        text-align: right;
    }
}
@media only screen and (max-width: 1500px) and (min-width: 600px) {
    .abe-reviewDisplayScreenLabel {
        height: auto;
        width: auto;
        min-width: 70px;
        word-break: break-word;
    }
}
@media only screen and (min-width: 1300px) {
    .abe-reviewItemBtn {
        height: auto;
        width: auto;
        word-break: break-word;
    }
}
@media only screen and (max-width: 1100px) and (min-width: 600px) {
    .abe-reviewIncorrectLabel {
        height: auto;
        width: auto;
        min-width: 70px;
        word-break: break-word
    }
}
@media only screen and (max-width: 1100px) and (min-width: 600px) {
    .abe-reviewUnseenLabel {
        height: auto;
        width: auto;
        min-width: 60px;
        word-break: break-word;
    }
}
@media only screen and (max-width: 700px) and (min-width: 600px) {
    .abe-reviewCorrectLabel {
        height: auto;
        width: auto;
        max-width: 60px;
        word-break: break-word;
    }
}
@media only screen and (max-width: 1100px) and (min-width: 600px) {
    .abe-reviewIncompleteLabel {
        height: auto;
        width: auto;
        min-width: 70px;
        word-break: break-word;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 600px) {
    .abe-reviewCompleteLabel {
        height: auto;
        width: auto;
        min-width: 80px;
        word-break: break-word;
    }
}

.abe-ReviewInstructionTitle {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 22.38px !important;
    line-height: 31px;
    color: #000000;
    padding-left: 70px;
}

.abe-reviewHeading {
    font-size: 28px;
    font-family: sans-serif;
}

.abe-ReviewInstructionsDialogHorizontalLine {
    position: absolute;
    width: 90%;
    height: 0px;
    left: 32px;
    top: 45px;
    border: 1px solid #DFE1E1;
    margin-left: 40px;
}

/**
Styles starts with "ui-" are jquery styles, so not prefixing them with "abe"
**/
.abe-multipleSections .ui-button:focus {
    border-style: dotted;
    border-width: 1px;
    border-color: #000000;
}

.abe-buttonTextAlign {
    display: flex;
    vertical-align: middle;
}

.abe-sectionTitle button {
    width: 33px;
    height: 33px;
    display: block;
    float: left;
}

.abe-reviewSectionCounts {
    text-align: right;
    padding-right: 5px;
}

.abe-scrollableReviewContent {
    overflow: auto;
}

/**
Styles starts with "ui-" are jquery styles, so not prefixing them with "abe"
**/
#abe-splitterExhibit .ui-widget-content {
    background: #ffffff none;
}

.abe-splitTabContent {
    position: relative;
}

.abe-tabContent, .abe-popup-window-tabbed-dialog {
    position: relative;
    overflow: hidden;
}

.abe-tabbedDialogContent, .abe-exhibitContent {
    height: 100%;
    overflow: auto;
}

#abe-errorDiv {
    background-color: #CC0000;
    color: #FFFFFF;
    border: 1px solid #000000;
}

#abe-errorDiv span {
    display: inline;
}

#abe-errorDiv div.abe-close-button {
    display: inline;
    background-image: url('/img/close.png');
    float: right;
    width: 19px;
    height: 19px;
    margin-right: 30px;
    margin-top: 12px;
}

#abe-errorDiv div.abe-close-button:hover {
    background-image: url('/img/closeRollOver.png');
}

.abe-hot_area_wrapper {
    position: relative;
}

.abe-hot-spot-wrapper {
    position: relative;
}

.abe-hot-spot {
    cursor: crosshair;
}

.abe-marker {
    z-index: 100;
}

.abe-horizontalPadding {
    padding-right: 18px;
}

.abe-noPadding {
    padding: 0 0 0 0;
}

.abe-verticalPadding {
    padding-bottom: 18px;
}

.abe-force-left {
    text-align: left; /*do not mirror this in base-rtl.css.  this is absolute override.*/
}

.abe-force-right {
    text-align: right; /*do not mirror this in base-rtl.css.  this is absolute override.*/
}

.abe-force-left.abe-margin-align {
    margin-left: 0; /*do not mirror this in base-rtl.css.  this is absolute override.*/
}

.abe-force-right.abe-margin-align {
    margin-right: 0; /*do not mirror this in base-rtl.css.  this is absolute override.*/
    margin-left: auto;
}

.abe-block-center {
    margin: 0 auto;
    text-align: center;
}

.abe-block-leading {
    text-align: left;
    clear: both;
}

.abe-block-trailing {
    text-align: right;
}

.abe-block-leading.abe-margin-align {
    margin-left: 0;
}

.abe-block-trailing.abe-margin-align {
    margin-right: 0;
    margin-left: auto;
}

.abe-block-justify {
    text-align: justify;
}

.abe-paragraph-right {
    text-align: right; /*do not mirror this in base-rtl.css.  this is absolute override.*/
}
.abe-paragraph-center {
    text-align: center;
}

.abe-paragraph-justify {
    text-align: justify;
}

.abe-hideInput {
    position: absolute;
    left: -50px;
    right: auto;
}

.abe-showInput {
    position: static;
    left: 0;
    right: auto;
}

/**
Styles starts with "ui-" are jquery styles, so not prefixing them with "abe"
**/
.ui-dialog-content .abe-dialogUL {
    display: block;
    list-style-type: none;
    padding-left: 10px;
}

.ui-dialog-content .abe-dialogUL li {
    position: relative;
    white-space: nowrap;
    display: inline;
    float: left;
}

.ui-dialog-content .abe-dialogUL li.abe-infoLI {
    padding: 5px 5px 5px 5px;
}

.ui-dialog-content .abe-dialogUL li.abe-messageText {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

/* fixes an issue with scroll bars on split screen items getting extra whitespace */
#abe-splitItem .ui-layout-content, #abe-splitItemReference .ui-layout-content {
    padding: 0 !important;
}

/* Uses the height of the #abe-splitterExhibit when we use vertical splitting*/
#abe-splitItem.ui-layout-west, #abe-splitItemReference.ui-layout-west {
    height: inherit !important;
}


pre.abe-tab4char {
    tab-size:4;
    -moz-tab-size: 4;
    -o-tab-size:  4;
    white-space: pre-wrap;
}


select:focus
{
  outline:#000 dotted 1px;
}

/* We want the external HTML view to always occupy the whole abe-contentPane, so we set height
   to 100%. display:block also prevents extraneous scrollbars from showing up as things get
   resized. */
.abe-htmlView {
    border: none;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: block
}

#abe-breakAdmissionPhoto {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    text-align: center;
}

#abe-breakAdmissionPhoto img {
    height: 100%;
}

/** TODO: This style seems not used anywhere in code. Can it be removed?**/
.WebMaterial {
    background-color: white !important;
}

/*
 * Classes for screen reader support in multiple choice items
 */

label.abe-defaultLabel {}

/*
 * Used to display a '✓' checkmark or other visual indicator alongside a correct answer option.
 */
label.abe-displayAnswerKeyLabel {
    display: inline-block;
    overflow: visible;
    padding: 1px;
    width: 20px;
}

label.abe-readerLabel {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
    Radio button disable classes.
    We do not use the standard disable since the grey is not suited for accessibility.
 */

input.abe-disabled-radio {
    pointer-events: none !important;
    cursor: none !important;
}

label.abe-disabled-radio {
    pointer-events: none !important;
    cursor: none !important;
}

p.abe-readerText {}

/* ---------------------------------------------------------------------------------------------------------------------
   Media Queries
--------------------------------------------------------------------------------------------------------------------- */

/* smaller than 600px aka mobile */
@media screen and (max-width: 600px) {

    #abe-PreviousButton {
        padding-right: 10px;
        font-size: 0px !important;
        vertical-align: middle;
    }

    #abe-NextButton {
        padding-left: 10px;
        font-size: 0px !important;
        vertical-align: middle;
    }

    #abe-NavigatorButton {
       font-size: 0px !important;
       height: 30px;
       vertical-align: middle;
    }

    #abe-titlebar-title {
        max-width: 40%;
    }

    /** TODO: This style seems not used anywhere in code. Can it be removed?**/
    #title-bar-small > li > span {
        color: #d3d3d3;
        font-weight: bold;
    }

    .abe-reviewIncorrect, .abe-reviewIncomplete, .abe-reviewUnseen, .abe-reviewPending {
        color: red;
        position: absolute;
        left: 200px;
        float: right;
        display: inline-block;
        width: 500px;
    }

    .abe-commentsEmpty, .abe-commentsUnseen {
        color: red;
        position: absolute;
        left: 200px;
        display: inline-block;
        width: 500px;
    }

    .abe-commentsNotEmpty {
        color: black;
        position: absolute;
        left: 200px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

}

/* width more than>= 600px */
@media only screen and (min-width: 600px) {
    #title-bar-small {
        display: none;
    }
}

input.abe-shortResponse.abe-textAlignLeft {
   text-align:left;
}

input.abe-shortResponse.abe-textAlignRight {
    text-align:right;
}

input.abe-shortResponse.abe-textAlignCenter {
    text-align:center;
}

/*
 * Text find styles
 */
#abe-textFind.abe-hidden {
    display: none;
    top: 0;
    right: 0;
    position: fixed;
}

#abe-textFind.visible {
    display: block;
    position: absolute;
    z-index: 2147483551;

    top: 30px;
    right: 0;
    width: auto;
    height: 40px;

    background-color: white !important;
    color: lightgray !important;

    border: 1px;
    border-style: solid;
    border-color: gray;
}

button.abe-textFindButton {
    padding: 5px;
    margin: auto;
}

input#abe-findBox {
    width: 190px;
    height: 30px;
    border: none !important;
    border-color: transparent !important;
}

.abe-textFindSearchItem{
    background-color: white !important;
    color: lightgray !important;
}
/*
 * End text find styles
 */

/*
 * Commenting out the style overrides for Chrome 66 to analyze Gauge runs and isolate which defects
 * are caused by this fix.
 */
/*
 * BEGIN style overrides for Chrome 66 scrolling issue
 * More info: v1 defect D-29785
 * TODO: Check periodically if these can be removed in future versions of Chrome/Chromium
*/
#abe-contentPane {
    z-index: 1;
}

/**
Styles starts with "ui-" are jquery styles, so not prefixing them with "abe"
**/
.ui-layout-content {
    z-index: 3;
    background-color: inherit;
}

.abe-tabbedDialogContent, .abe-exhibitContent {
    position: relative;
    z-index: 2;
    background-color: inherit;
}

.ui-dialog .abe-tabbedDialogContent, .ui-dialog .abe-exhibitContent {
    background-color: white;
}

#abe-navigatorBody {
    z-index: 2147483397;
}

.abe-verticalLine {
    border-left: thin solid #ffffff;
    margin: 10px 0;
}

.abe-horizontalLine {
    border-top: thin solid #ffffff;
    margin: 0 10px;
}

#abe-pauseExamConfirmationDialog,
#abe-pauseScreen,
#abe-unableToPauseExamWarningDialog {
    color: #ffffff;
}

#abe-pauseExamConfirmationDialog .abe-main,
#abe-pauseScreen .abe-main,
#abe-unableToPauseExamWarningDialog .abe-main{
    text-align: left;
    display: inline-flex;
    height: 90%;
    width: 100%;
}

#abe-pauseExamConfirmationDialog .abe-main-content,
#abe-pauseExamConfirmationDialog .abe-main-detail,
#abe-pauseScreen .abe-main-content,
#abe-pauseScreen .abe-main-detail,
#abe-unableToPauseExamWarningDialog .abe-main-content,
#abe-unableToPauseExamWarningDialog .abe-main-detail{
    margin: 10px;
}

#abe-pauseScreen .abe-main-content,
#abe-pauseScreen .abe-main-detail > div:not(:empty) {
    margin: 10px 30px;
}

#abe-pauseScreen .abe-horizontalLine {
    margin: 0 30px;
}

#abe-pauseExamConfirmationDialog .abe-main-detail > div:not(:empty),
#abe-pauseScreen .abe-main-detail > div:not(:empty),
#abe-unableToPauseExamWarningDialog .abe-main-detail > div:not(:empty){
    margin-bottom: 2em;
}

#abe-pauseExamConfirmationDialog .abe-buttonLayout,
#abe-pauseScreen .abe-buttonLayout,
#abe-unableToPauseExamWarningDialog .abe-buttonLayout{
    display: inline-flex;
    float: right;
    height: 10%;
    padding: 0 10px;
    margin: 5px;
}

#abe-pauseExamConfirmationDialog .abe-button > button,
#abe-pauseScreen .abe-button > button,
#abe-unableToPauseExamWarningDialog .abe-button > button{
    padding: 0;
    margin: 7px;
    line-height: 0;
}

#abe-pauseExamConfirmationDialog .abe-button,
#abe-pauseScreen .abe-button,
#abe-unableToPauseExamWarningDialog .abe-button{
    border: thin solid #ffffff;
    margin: 5px;
}

.abe-overage-warning {
    margin-bottom: 0 !important;
}

.abe-pausedOverlay {
    opacity: 1;
    top: 48px;
    background: none;
}

.abe-labFrame {
    border: none;
    width: 100% !important;
    height: 100%;
    min-width: 100% !important;
    min-height: 100%;
    display: block
}

.gc-scroll-arrow {
    background-color: #dae6f4 !important;
    border-style: solid;
    border-color: #a3b9d1;
    background-image: none;
    border-radius: 0;
}
.gc-ribbon-bar .ribbon-navigation .ribbon-navigation-item .ribbon-navigation-menu {
    color: #000000;
}
.gc-ribbon-bar .ribbon-button-item .ribbon-button-item-text {
    padding: 2px 4px;
    display: inline-table;
    color: black;
}

.gc-sjs-designer-dialog div[tab_id="Protection"] {
    display: none;
}
/*
this change is to resolve following scenario
Scenario :: When grapecity popups are inside exhibit windows, their overlay is on top of the popups
 so the popup closes even if we click inside popup which was preventing clicks inside grapecity popups*/
.gc-overlay-gc-dialog1, .gc-overlay-gc-dialog2, .gc-overlay-gc-dialog3, .gc-overlay-gc-dialog4 {
    z-index: 0 !important;
}
/*As U tag not supporting underline for "gjpqy" added the below code to add underline*/
u{
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.Primary button.abe-ReviewInstructionsDialogCloseButton:hover,
.Primary button.abe-ReviewInstructionsDialogCloseButton .ui-button-text:hover {
    color: #FFFFFF;
}

.abe-scale-factor-controls-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 4px;
}

.abe-ReviewInstructionsDialogCloseButton span {
    color: #FFFFFF !important;
}

.abe-colorSchemeSelection {
    height: 30px;
}

/* Dropdown container - needed to position the dropdown content */
.abe-colorSchemeDropDown {
    float: left;
    overflow: hidden;
    min-width: 160px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

/* Style the dropdown button to fit inside the topnav */
.abe-colorSchemeDropDown .abe-colorSchemeDropdownButton {
    font-size: 16px;
    border: 1px solid;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 3px;
}

/* Style the dropdown content (hidden by default) */
.abe-colorSchemeDropdownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    right: 0px;
    width: 180px;
}

/* Style the links inside the dropdown */
.abe-colorSchemeDropdownContent ul li a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

span.customRadio, span.customCheckbox {
    display: none;
}
.abe-colorSchemeRadioButton {
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: default;
    opacity: 0;
}
.abe-colorSchemeRadioButton + span.customRadio {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 0 -10px;
    border-radius: 50%;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.8);
    pointer-events: none;
}
.abe-colorSchemeRadioButton + span.customRadio::after {
    content: '.';
    color: transparent;
    position: unset;
    display: block;
    width: 2px;
    height: 2px;
    margin: -2px 0 0 7px;
    opacity: 0.6;
    border-radius: 50%;
}
.abe-colorSchemeRadioButton:checked + span.customRadio::after {
    width: 6px;
    height: 6px;
    margin: 2px;
    opacity: 1;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.abe-colorSchemeCheckboxButton {
    width: 10px;
    height: 10px;
    margin: 0;
    cursor: default;
    opacity: 0;
}
.abe-colorSchemeCheckboxButton + span.customCheckbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 0 -10px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.8);
    pointer-events: none;
}
.abe-colorSchemeCheckboxButton + span.customCheckbox::after {
    position: unset;
    display: block;
    width: 5px;
    height: 5px;
    margin: -4px 0 0 0px;
}
.abe-colorSchemeCheckboxButton:checked + span.customCheckbox::after {
    content: '✔';
    font-size : smaller;
}


.abe-colorSchemeDropdownArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-end;
}

#dropdown-colorSchemes .ui-selectmenu-menu {
    position: relative;
}

.abe-scale-factor-zoom-in-tooltip .abe-scale-factor-zoom-in-tooltiptext,
.abe-scale-factor-zoom-out-tooltip .abe-scale-factor-zoom-out-tooltiptext {
    visibility: hidden;
    display: none;
    width: 120px !important;
    text-align: center;
    position: absolute;
    z-index: 10;
    top: 100%;
    margin-left: -40px;
}
.abe-FlagForReviewReviewScreen-2-0-ButtonSelected {
    width: 40px;
    padding-right: 60px !important;
}

.abe-colorSchemeDropDown .ui-selectmenu-text {
    padding-bottom : 1px !important;
}
.abe-commentTableTooltip {
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 65%;
    margin-top: -32px;
}
.abe-commentreviewScreenToolTip {
    position: absolute;
    color: white;
    background-color: #333333;
    padding: 0 5px 0 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 100;
    right: 22px;
    word-break: break-word;
    max-width: 150px;
    bottom: calc(50% + 2px);
}
.abe-commentTableTooltip:hover .abe-commentreviewScreenToolTip {
    display: block;
}

.ui-dialog .ui-dialog-title:focus {
    outline: none;
}

.ui-dialog .ui-dialog-title .abe-ui-exam-dialog-title:focus {
    outline: none;
}

.ui-tabs-anchor {
    text-overflow: ellipsis;
    overflow: hidden;
}

.tox .tox-statusbar {
    height:auto;
}

.ui-selectmenu-button span.ui-icon {
    right: 0em;
    left: auto;
    position: absolute;
    top: 50%
}

.tox-tinymce {
    border: 1px solid #cccccc;
}

